<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuuki.cooky.sys.dao.SysDeptMapper">
  <resultMap id="BaseResultMap" type="com.yuuki.cooky.sys.entity.SysDept">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="DEPT_ID" jdbcType="BIGINT" property="deptId" />
    <result column="PARENT_ID" jdbcType="BIGINT" property="parentId" />
    <result column="DEPT_NAME" jdbcType="VARCHAR" property="deptName" />
    <result column="ORDER_NUM" jdbcType="BIGINT" property="orderNum" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <delete id="deleteChild" parameterType="long">
    DELETE FROM sys_dept WHERE PARENT_ID = #{id}
  </delete>
</mapper>